:root {
  --primary-color: #4c763b;
  --bg: #fff5f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff5f2;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #4c763b;
  border-bottom: 1px solid #4c763b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #f9f5f0;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #fff1ca;
}

.navbar .navbar-nav a {
  color: #f9f5f0;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #f9f5f0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #f9f5f0;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Efek zoom pada ikon Feather Icons */
.feather {
  transition: transform 0.3s ease;
}
.navbar .navbar-extra a:hover .feather {
  transform: scale(1.2);
}

/* Shopping Cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: #fff1ca;
  color: #4c763b;
  border-radius: 6px;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  min-height: calc(100vh - 100%);
  height: 110%;
  width: 35rem;
  padding: 0 1.5rem;
  color: #4c763b;
  background-color: #fff1ca;
  transition: 0.3s linear;
  overflow-y: auto;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* About Section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #8fa31e;
}

.about h2 span {
  color: #4c763b;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img video {
  width: 100%;
  height: 28rem;
  padding-bottom: 1rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #4c763b;
}

.about .row .content p {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  color: #18230f;
}

/* Footer */
footer {
  background-color: #4c763b;
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: auto;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff5f2;
  margin: 1rem;
}

footer .socials a:hover {
  color: #fff1ca;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #fff1ca;
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 65%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(76, 118, 59, 0.9);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  footer {
    padding: 2rem 1rem;
  }

  footer .socials a {
    margin: 0.5rem;
  }

  footer .credit {
    font-size: 1.1rem;
    line-height: 1.6;
  }
}




