:root {
  --primary-color: #4c763b;
  --bg: #fff5f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff5f2;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #4c763b;
  border-bottom: 1px solid #4c763b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #f9f5f0;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #fff1ca;
}

.navbar .navbar-nav a {
  color: #f9f5f0;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #f9f5f0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #f9f5f0;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Efek zoom pada ikon Feather Icons */
.feather {
  transition: transform 0.3s ease;
}
.navbar .navbar-extra a:hover .feather {
  transform: scale(1.2);
}

/* Navbar Search */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff1ca;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #fff1ca;
  padding: 1rem;
}

.navbar .search-form label {
  margin-right: 1.5rem;
  color: #4c763b;
  font-size: 2rem;
  cursor: pointer;
}

/* Shopping Cart */
#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: #fff1ca;
  color: #4c763b;
  border-radius: 6px;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  min-height: calc(100vh - 100%);
  height: 110%;
  width: 35rem;
  padding: 0 1.5rem;
  color: #4c763b;
  background-color: #fff1ca;
  transition: 0.3s linear;
  overflow-y: auto;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: #4c763b;
  color: #fff1ca;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Menu Section */
.menu {
  padding: 8rem 7% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: #8fa31e;
}

.menu h2 span {
  color: #4c763b;
}

.menu p {
  text-align: center;
  max-width: 30rem;
  color: #18230f;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
  color: #4c763b;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  flex: 0 0 calc(25% - 2rem);
  max-width: calc(25% - 2rem);
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Footer */
footer {
  background-color: #4c763b;
  text-align: center;
  padding: 1rem 0 1rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff5f2;
  margin: 1rem;
}

footer .socials a:hover {
  color: #fff1ca;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #fff1ca;
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 241, 202, 0.7);
}

.modal-container {
  position: relative;
  background-color: #f9f5f0;
  color: #4c763b;
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #4c763b;
  width: 90%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon,
.modal-container .close-icon1,
.modal-container .close-icon2 {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: #4c763b;
  color: #fff5f2;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

.modal-recommendation {
  margin-top: 1rem;
}

.rec-title {
  font-size: 2rem;
  font-weight: 600;
  color: #4c763b;
  margin-bottom: 0.5rem;
}

.rec-items {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.rec-item {
  background: #eef4ea;
  color: #4c763b;
  padding: 0.3rem 0.7rem;
  border-radius: 999px;
  font-size: 1rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 65%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(76, 118, 59, 0.9);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .menu p {
    font-size: 1.2rem;
  }
  .menu .row .menu-card {
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
  .rec-item {
    font-size: 0.82rem;
    padding: 0.5rem 0.95rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .navbar .search-form {
    right: 1rem;
    width: calc(90% - 2rem);
    height: 4.5rem;
  }

  .navbar .search-form input {
    font-size: 1.4rem;
  }
  .menu .row .menu-card {
    flex: 0 0 100%;
    max-width: 70%;
  }
  .modal-container {
    width: 90%;
    margin: 20% auto;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .modal-content img {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0 auto 1.5rem;
    border-radius: 1rem;
  }

  .modal-content h3 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  .modal-content p {
    font-size: 2rem;
    line-height: 1.8;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 0.5rem;
  }

  .modal-container .close-icon {
    top: 0.8rem;
    right: 0.8rem;
    font-size: 2.2rem;
  }
  .rec-items {
    gap: 0.5rem;
  }

  .rec-item {
    font-size: 2rem;
    padding: 0.55rem 1rem;
  }
  .rec-title {
    font-size: 2rem;
    font-weight: 600;
    color: #4c763b;
    margin-bottom: 0.5rem;
  }
}
